.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-banner {
  position: relative;
  width: 100%;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
}
